body {
  margin: 25px 0;
}

.search-block {
  margin-bottom: 15px;
}

.no-wrap {
  white-space: normal;
}

.btn-link:hover,
.btn-link:focus {
  color: #383a36;
}
.btn-link,
.btn-link {
  background: #fefffd;
  width: 100%;
}
.delete-address {
  position: absolute;
  right: 0;
}
